body {
    background-image: url(../images/cube-game-cube-instantaneous-speed-pay-40870.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align-last: center;
    text-anchor: middle;

}
