body {
    background-image: url(../images/cube-game-cube-instantaneous-speed-pay-40870.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align-last: center;
    text-anchor: middle;

}
form {
    font-size: 1.4em;}


.john {
    background-color: blue;
}
.jumbotron1 {
    background-color: lawngreen;
}
.jumbotron2 {
    background-color: red;
}
.glow {
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
h1 {
    font-family: cursive;
    background-size: cover
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.tropical { 
    text-shadow: fuchsia;
    text-align: center;
    text-decoration-color: chartreuse;
    font-family: 'Just Another Hand',
    cursive;
    font-family: 'Pinyon Script',
    cursive;
    font-family: 'Italianno',
    cursive;
    font-family: 'Cabin Sketch',
    cursive;
    font-size: medium;
}
