body {
    background-image: url(../images/pexels-photo-965875.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    font-family: 'Just Another Hand',
    cursive;
    font-weight: 900;
    font-size: xx-large;
    color: lawngreen;
}
.eric {
    font-family: 'Just Another Hand',;
    font-size: xx-large;
    color: lawngreen;
}