body {
    background-image: url(../images/pexels-photo-1111597.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    font-family: 'Just Another Hand',
    cursive;
    font-weight: 900;
    font-size: xx-large;
    color: lawngreen;
}
.eric {
    font-family: 'Just Another Hand',;
    font-size: xx-large;
    color: lawngreen;
    font-family: 'Cabin Sketch',
    cursive;
}
.ryan {
    color: purple;
}
.john {
    color: lawngreen;
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.j {
    text-align: center;
}
.button {
    background-color: blue;
}
.p {
    background-color: 
}
.glow {
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.f {
    background-color: palevioletred;
}
.v {
    background-color: black;
}
.var {
    color: lawngreen;
    font-family: 'Srisakdi',
    cursive;
}
.pop {
    color: red;
    font-family: 'Playfair Display',
    serif;
    
}